Please read more about GeToVA specific enabler at <a href="http://catalogue.fitman.atosresearch.eu/enablers/generation-and-transformation-virtualized-assets-getova/"> catalogue.fitman.atosresearch.eu </a> 


