<%- model_class = IndividualFormat -%>
<div class="page-header">
  <p>Define a SPARQL CONSTRUCT to transform between the Baseformat and your newly defined format</p>
</div>
<%= render :partial => 'form' %>
